<!doctype html>
<html>
  <head>
    <title>初めてのHTML</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="side.css">
    <link rel="stylesheet" href="wrapper.css">    
    <link rel="stylesheet" href="footer.css">
  </head>

  <body>
   <div class="wrapper">

    <div id="header">
      <a href="#">Top</a>
      <a href="#">About</a>
      <a href="#">Info</a>
    </div>

    <div id="side">
     <ul>
      <li>Python</li>
      <li>Django</li>
      <li>HTML/CSS</li>
     </ul>
    </div>

    <div id="main">
      <h1>Hello, World</h1>
      メイン
    </div>

    <div id="footer">
      <a href="#">Privacy Policy</a>
    </div>

   </div>
  </body>
</html>
